.container {
  display: grid; 
  grid-template-columns: 0.5fr 4.1fr 1fr; 
  grid-template-rows: 0.6fr 1.4fr; 
  gap: 2px 0px; 
  grid-template-areas: 
    "avatar attribution actions"
    ". text text"; 
}

.avatar {
  grid-area: avatar;
  justify-self: center;
}

.attribution {
  grid-area: attribution;
}

.text {
  grid-area: text;
}

.actions {
  font-size: small;
  text-decoration: underline;
  color: gray;
  margin-left: auto;
  grid-area: actions;
}

.actions > * {
  cursor: pointer;
  display: table;
}